---
interface Props {
  /**
   * @name 图标包名称及其图标名称
   * @description 图标包名称及其图标名称，例如"fas,home"
   * 
   */
  icon: string;
}
// 此组件Props必须要包含icon属性，icon属性必须是一个字符串，格式为"pack,name"，例如"fas,home"
// 避免有人不看编辑器的提示 所以还是写一个默认值
const { icon = "solid,triangle-exclamation" } = Astro.props;
const [IPack, IName] = icon.split(",");
---

<div class="btn">
  {icon}
  <i class={`fa-${IPack} fa-${IName}`}></i>
</div>
<style lang="scss"></style>
