---
import { SITE } from "../config.theme";
import HeaderLink from "./Header/Link.astro";
import HeaderBtn from "./Header/Button.astro";

// 获取传入的title
const { title } = Astro.props;
---
<header>
  <nav class="nav">
    <div class="logo">
      <a href="/">{SITE.title}</a>
    </div>
    <div class="center">
      <div class="links">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
      </div>
      <!-- 如果存在title再生成div -->
      {title && <div class="title">{title}</div>}
    </div>
    <div class="btns">
      <HeaderBtn icon="regular,sun" />
      <HeaderBtn icon="regular,moon" />
      <HeaderBtn icon="solid,magnifying-glass" />
    </div>
  </nav>
</header>
<script>

</script>
<style lang="scss">
  header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;

    nav {
      background: #000;
      border-radius: 0 0 10px 10px;
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
      }
    }
  }
</style>
