---
import { SITE } from "../config.theme";
import HeaderLink from "./HeaderLink.astro";

const SITE_URL = Astro.site?.toString();
---

<header>
  <nav>
    <a class="logo" href="/">{SITE.title}</a>
  </nav>
</header>
<style lang="scss">
  header {
    nav {
      .logo {
      }
    }
  }
</style>
